* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

nav {
  background-color: purple;
}

.logo {
  color: white;
  font-size: 28px;
  font-family: serif;
  padding: 0, 100%;
  line-height: 85px;
}

nav ul {
  float: right;
}

nav ul li {
  display: inline-block;
  line-height: 75px;
  margin: 0 5px;
  color: white;
}
